@model ReadMessageViewModel


<div class="card mb-4">
    <div class="card-header d-flex align-items-center h1">Mesaj İçeriği</div>

    <div class="card-body">
        <div data-bs-spy="scroll" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
            <p>@Model.Content</p>
        </div>
    </div>

</div>
