@model WriteClassroomViewModel
@inject ITeacherReadRepository _teacherReadRepository
@inject IMainCourseReadRepository _mainCourseReadRepository
@inject IClassroomReadRepository _classroomReadRepository
@inject IStudentReadRepository _studentReadRepository
@{
    ViewData["Title"] = "AddClassroom";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <form method="post" asp-area="Admin" asp-controller="Classrooms" asp-action="Add">
            <div class="card">
                <div class="card-header">Sınıf Ekle</div>
                <div class="card-body">


                    <div asp-validation-summary="All"></div>
                    <label for="name">Sınıf Adı</label>
                    <input id="name" class="form-control" type="text" asp-for="Name" />

                    <label for="capacity">Kapasite</label>
                    <input id="capacity" class="form-control" type="number" value="25" asp-for="Capacity" />

                    <div>
                        <button class="btn btn-primary mt-2" type="submit">Ekle</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>