@model WriteClassroomViewModel
@inject IMainCourseReadRepository _mainCourseReadRepository
@inject IStudentReadRepository _studentReadRepository
@inject ITeacherReadRepository _teacherReadRepository
@{
    ViewData["Title"] = "UpdateClassroom";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-auto">
        <div class="card">
            <form method="post" asp-area="Admin" asp-controller="Classrooms" asp-action="Update">
                <div class="card-header">Sınıf Güncelle</div>
                <div asp-validation-summary="All"></div>
                <div class="card-body">

                    <label for="@Model.Name">Sınıf Adı</label>
                    <input id="@Model.Name" class="form-control" type="text" asp-for="Name" />

                    <label for="@Model.Capacity">Kapasite</label>
                    <input id="@Model.Capacity" class="form-control" type="number" min="0" asp-for="Capacity" />

                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit">Güncelle</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>