@model WriteSemesterViewModel
@{
    ViewData["Title"] = "Dönem Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <form method="post" asp-area="Admin" asp-controller="Semesters" asp-action="Update">
            <div class="card">
                <div class="card-header">Dönem Güncelle</div>
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Dönem Adı</label>
                        <input id="name" class="form-control" type="text" asp-for="Name" />
                    </div>
                    <div class="mb-3">
                        <label for="startDate" class="form-label">Başlangıç Tarihi</label>
                        <input id="startDate" class="form-control" type="date" asp-for="StartDate" />
                    </div>
                    <div class="mb-3">
                        <label for="endDate" class="form-label">Bitiş Tarihi</label>
                        <input id="endDate" class="form-control" type="date" asp-for="EndDate" />
                    </div>
                    <button class="btn btn-primary" type="submit">Güncelle</button>
                </div>
            </div>
        </form>
    </div>
</div>
