@model WriteStudentViewModel
@inject IClassroomReadRepository _classroomReadRepository
@{
    ViewData["Title"] = "Öğrenci Ekle";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <form method="post" asp-area="Admin" asp-controller="Students" asp-action="Add">
            <div class="card">
                <div class="card-header">Öğrenci Ekle</div>
                <div class="card-body">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="mb-3">
                        <label for="firstName" class="form-label">İsim</label>
                        <input type="text" class="form-control" id="firstName" asp-for="FirstName">
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="form-label">Soyisim</label>
                        <input type="text" class="form-control" id="lastName" asp-for="LastName">
                    </div>

                    <div class="mb-3">
                        <label for="gender" class="form-label">Cinsiyet</label>
                        <select class="form-select" id="gender" asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()">
                            <option value="">Cinsiyet Seçiniz</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="graduatedSchool" class="form-label">Mezun Olduğu Okul</label>
                        <input type="text" class="form-control" id="graduatedSchool" asp-for="GraduatedSchool">
                    </div>

                    <div class="mb-3">
                        <label for="gpa" class="form-label">Not Ortalaması</label>
                        <input type="number" class="form-control" id="gpa" asp-for="GPA">
                    </div>

                    <div class="mb-3">
                        <label for="parentFirstName" class="form-label">Veli İsim</label>
                        <input type="text" class="form-control" id="parentFirstName" asp-for="ParentFirstName">
                    </div>

                    <div class="mb-3">
                        <label for="parentLastName" class="form-label">Veli Soyisim</label>
                        <input type="text" class="form-control" id="parentLastName" asp-for="ParentLastName">
                    </div>

                    <div class="mb-3">
                        <label for="parentMobilePhone" class="form-label">Veli Cep Telefonu</label>
                        <input type="text" class="form-control" id="parentMobilePhone" asp-for="ParentMobilePhone">
                    </div>

                    <div class="mb-3">
                        <label for="parentWorkPhone" class="form-label">Veli İş Telefonu</label>
                        <input type="text" class="form-control" id="parentWorkPhone" asp-for="ParentWorkPhone">
                    </div>

                    <div class="mb-3">
                        <label for="parentAddress" class="form-label">Veli Adresi</label>
                        <input type="text" class="form-control" id="parentAddress" asp-for="ParentAddress">
                    </div>

                    <div class="mb-3">
                        <label for="parentDistrict" class="form-label">İlçe</label>
                        <input type="text" class="form-control" id="parentDistrict" asp-for="ParentDistrict">
                    </div>

                    <div class="mb-3">
                        <label for="parentCity" class="form-label">İl</label>
                        <input type="text" class="form-control" id="parentCity" asp-for="ParentCity">
                    </div>

                    <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
            </div>
        </form>
    </div>
</div>
