@model WriteStudentViewModel
@inject IClassroomReadRepository _classroomReadRepository
@{
    ViewData["Title"] = "Öğrenci Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <form method="post" asp-area="Admin" asp-controller="Students" asp-action="Update">
            <div class="card">
                <div class="card-header">Öğrenci Güncelle</div>
                <div class="card-body">

                    <div asp-validation-summary="All"></div>

                    <input type="hidden" asp-for="Id" />

                    <div class="mb-3">
                        <label for="firstName" class="form-label">Ad</label>
                        <input type="text" class="form-control" id="firstName" asp-for="FirstName">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="form-label">Soyad</label>
                        <input type="text" class="form-control" id="lastName" asp-for="LastName">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="gender" class="form-label">Cinsiyet</label>
                        <select class="form-select" id="gender" asp-for="Gender">
                            <option value="">Cinsiyet Seçiniz</option>
                            <option value="Male">Erkek</option>
                            <option value="Female">Kadın</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="graduatedSchool" class="form-label">Mezun Olduğu Okul</label>
                        <input type="text" class="form-control" id="graduatedSchool" asp-for="GraduatedSchool">
                        <span asp-validation-for="GraduatedSchool" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="gpa" class="form-label">Not Ortalaması</label>
                        <input type="number" class="form-control" id="gpa" asp-for="GPA">
                        <span asp-validation-for="GPA" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="isPreRegistered" asp-for="IsPreRegistered">
                        <label class="form-check-label" for="isPreRegistered">Ön Kayıtlı mı?</label>
                    </div>

                    <div class="mb-3">
                        <label for="continuationStatus" class="form-label">Devam Etme Durumu</label>
                        <select class="form-select" id="continuationStatus" asp-for="ContinuationStatus" asp-items="@Html.GetEnumSelectList<ContinuationStatus>()">
                        </select>
                        <span asp-validation-for="ContinuationStatus" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="classroomId" class="form-label">Sınıf</label>
                        <select class="form-select" id="classroomId" asp-for="ClassroomId">
                            <option value="">Sınıf Seçiniz</option>
                            @foreach (var item in _classroomReadRepository.GetAll().ToList())
                            {
                                var isSelected = Model.ClassroomId == item.Id;
                                <option value="@item.Id" selected="@isSelected">@item.Name</option>
                            }
                        </select>
                        <span asp-validation-for="ClassroomId" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </div>
            </div>
        </form>
    </div>
</div>
