@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
    <style>
        body {
            height: 100vh; /* Ekran yüksekliği kadar div'i genişletmek için */
            display: flex;
            justify-content: center; /* Yatayda ortalama */
            align-items: center; /* Dikeyde ortalama */
        }

        /* İçeriği ortalamak için gerekli stil */
        .content {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Yetkisiz Giriş!</h1>
    </div>
</body>
</html>
