@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-auto mx-auto text-center">
        <h1>Welcome to Bilge Koleji</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur tincidunt tortor, iniaculis neque
            tristique sed.
        </p>
    </div>
</div>