@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-auto mx-auto text-center">
        <h1>Bilge Koleji Yönetim ve Bilgi Paneli</h1>
        <p>
            Bilge Koleji Yönetim ve Bilgi Paneli, öğrenci, veli, öğretmen ve yöneticilerin eğitim süreçlerini daha etkili yönetmelerini sağlayan kapsamlı bir platformdur. Siz de sistemimize giriş yaparak öğrencilerin devamsızlık bilgilerini, notlarını takip edebilir ve daha pek çok işlemi gerçekleştirebilirsiniz.

        </p>
    </div>
    <div class="col-auto mx-auto text-center">

        @if (!User.Identity.IsAuthenticated)
        {
            <a class="btn btn-primary" asp-action="Login" asp-controller="Home">Giriş Yap</a>
        }
    </div>
</div>