@model LoginUserViewModel
@{
    ViewData["Title"] = "Bilge Koleji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-auto mx-auto text-center">
        <h1>Welcome to Bilge Koleji</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur tincidunt tortor, iniaculis neque
            tristique sed.</p>
        <button id="getLoginPopupButton" class="login-button">Login</button>
    </div>
</div>

<!--Card-->
<div id="loginPopup" class="card card-primary"
    style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;">
    <div
        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; padding: 20px; border-radius: 5px;">

        <!--Card header-->
        <div class="card-header">
            <h3 class="card-title">Giriş Yap</h3>
        </div>

        <!--Card body-->
        <div class="card-body">
            <div id="validationSummary" class="alert alert-danger" style="display: none;" asp-validation-summary="All">
            </div>
            <div class="form-group">
                <label asp-for=UserName>Kullanıcı Adı</label>
                <input id="username" type="text" class="form-control" placeholder="Kullanıcı adınızı giriniz">

            </div>

            <div class="form-group">
                <label asp-for=Password>Şifre</label>
                <input id="password" type="password" class="form-control" placeholder="Şifrenizi giriniz">

            </div>

        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button id="loginButton" type="submit" class="btn btn-success">Giriş Yap</button>
            <button id="closeButton" type="button" class="btn btn-danger">Kapat</button>
        </div>
    </div>
</div>
