@model LoginUserViewModel
@{
    ViewData["Title"] = "Bilge Koleji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-auto mx-auto text-center">
        <h1>Welcome to Bilge Koleji</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur tincidunt tortor, iniaculis neque
            tristique sed.
        </p>
    </div>
</div>
<div>@ViewBag.Message</div>


        <form method="post" asp-controller="Home" asp-action="Index">
            <!--Card header-->
            <div class="card-header">
                <h3 class="card-title">Giriş Yap</h3>
            </div>

            <!--Card body-->
            <div class="card-body">
                <div asp-validation-summary="All">
                </div>
                <div class="form-group">
                    <label asp-for=UserName>Kullanıcı Adı</label>
                    <input class="form-control" type="text" asp-for="UserName" placeholder="Kullanıcı adınızı giriniz">
                </div>

                <div class="form-group">
                    <label asp-for=Password>Şifre</label>
                    <input class="form-control" type="password" asp-for="Password" asp-controller="Home" asp-action="Login" placeholder="Şifrenizi giriniz">
                </div>
            </div>

            <!--Card footer-->
            <div class="card-footer">
                <button id="loginButton" type="submit" class="btn btn-success">Giriş Yap</button>
                <button id="closeButton" type="button" class="btn btn-danger">Kapat</button>
            </div>
        </form>


    </div>
</div>
