@model WriteAdministratorViewModel
@{
    ViewData["Title"] = "UpdateAdministrator";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <form method="post" asp-area="Admin" asp-controller="Administrators" asp-action="Update">
            <div class="card">
                <div class="card-header">Yönetici Güncelle</div>

                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="UserId" type="hidden" value="@Model.UserId" />

                    <div>
                        <label asp-for="FirstName">İsim</label>
                        <input asp-for="FirstName" type="text" class="form-control" />
                    </div>
                    <div>
                        <label asp-for="LastName">Soyisim</label>
                        <input asp-for="LastName" type="text" class="form-control" />
                    </div>
                    <div>
                        <label asp-for="Password">Yeni Şifre</label>
                        <input asp-for="Password" type="text" class="form-control" />
                    </div>
                    <div>
                        <label asp-for="ConfirmPassword">Şifreyi Doğrula</label>
                        <input asp-for="ConfirmPassword" type="text" class="form-control" />
                    </div>
                    <div>
                        <label asp-for="Title">Ünvan</label>
                        <input asp-for="Title" type="text" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-primary mt-2">Güncelle</button>

                </div>
            </div>
        </form>
    </div>
</div>
