@model WriteSubCourseViewModel
@inject IMainCourseReadRepository _mainCourseReadRepository
@{
    ViewData["Title"] = "Alt Kurs Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <form method="post" asp-area="Admin" asp-controller="SubCourses" asp-action="Add">
            <div class="card">
                <div class="card-header">Alt Kurs Ekle</div>
                <div class="card-body">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="mb-3">
                        <label for="code" class="form-label">Kod</label>
                        <input id="code" class="form-control" type="text" asp-for="Code" />
                    </div>

                    <div class="mb-3">
                        <label for="weeklyHour" class="form-label">Haftalık Ders Saati</label>
                        <input id="weeklyHour" class="form-control" type="number" min="1" asp-for="WeeklyHour" />
                    </div>

                    <div class="mb-3">
                        <label for="position" class="form-label">Pozisyon</label>
                        <input id="position" class="form-control" type="number" min="0" asp-for="Position" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="MainCourseId">Ders</label>
                        <select asp-for="MainCourseId" class="form-control">
                            <option value="" selected disabled>Bir ana ders seçiniz</option>
                            @foreach (var mainCourse in _mainCourseReadRepository.GetAllActives())
                            {
                                <option value="@mainCourse.Id">@mainCourse.Name</option>
                            }
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Ekle</button>

                </div>
            </div>
        </form>
    </div>
</div>
