@model WriteSubCourseViewModel
@inject IMainCourseReadRepository _mainCourseReadRepository
@{
    ViewData["Title"] = "Alt Kurs Güncelle";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <form method="post" asp-area="Admin" asp-controller="SubCourses" asp-action="Update">
            <div class="card">
                <div class="card-header">Alt Kurs Güncelle</div>
                <div class="card-body">

                    <div asp-validation-summary="All"></div>

                    <div class="mb-3">
                        <label for="code" class="form-label">Kod</label>
                        <input id="code" class="form-control" type="text" asp-for="Code" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="weeklyHour" class="form-label">Haftalık Ders Saati</label>
                        <input id="weeklyHour" class="form-control" type="number" asp-for="WeeklyHour" />
                        <span asp-validation-for="WeeklyHour" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="position" class="form-label">Pozisyon</label>
                        <input id="position" class="form-control" type="number" asp-for="Position" />
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="MainCourseId">Ders</label>
                        <select asp-for="MainCourseId" class="form-control">
                            @foreach (var mainCourse in _mainCourseReadRepository.GetAll())
                            {
                                var isSelected = mainCourse.Id.ToString() == Model.MainCourseId;
                                <option value="@mainCourse.Id" selected="@isSelected">@mainCourse.Name</option>
                            }
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Güncelle</button>

                </div>
            </div>
        </form>
    </div>
</div>
